body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square {
    border: 2px solid orange;
    height: 140px;
    width: 200px;
    flex: 1;
    flex-basis: 17%;
}

.categories {
    font-size: larger;
    text-align: center;
    font-style: oblique;
    color: white;
}

.ten {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.twenty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.thirty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.fourty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.fifty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.final {
    font-size: 50px;
    text-align: center;
    color: orchid;
}

.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%; 
    height: 50%;
    border: 2px solid gray;
}

.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }

  .close-btn:hover {
    color: rgb(235, 0, 0);
  }