body {
    background-color: aquamarine;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square {
    border: 2px solid orange;
    height: 140px;
    width: 200px;
    flex: 1;
    flex-basis: 17%;
}

.categories {
    font-size: larger;
    text-align: center;
    font-style: oblique;
    color: white;
}

.ten {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.twenty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.thirty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.fourty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.fifty {
    font-size: 40px;
    text-align: center;
    color: orchid;
}

.final {
    font-size: 50px;
    text-align: center;
    color: orchid;
}