body {
    background-color: aquamarine;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}


.square {
    border: 2px solid orange;
    height: 140px;
    width: 200px;
    flex: 1;
    flex-basis: 17%;
}